body {
  background: #0f0f0f;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: cyan;
  font-size: 50px;
}

p {
  color: gray;
}

.box {
  width: 200px;
  height: 200px;
  background: cyan;
  border-radius: 20px;
}
